.articleText dl dd dl{margin-top:2px;margin-left:10px;}
.articleText dl dd dl dt  {
display:block;
line-height:14pt;
padding:0;
margin-left:45px;
}

.articleText dl dd{margin-left:12px;}
.featuresRow  ul{ 
width:100%;
margin:0; 
padding:0 0 3px 0; 
list-style:none; 
line-height:0px;
background:url(/scidirimg/features_border.gif) repeat scroll 0 bottom;
}

.featuresRow ul li{
padding:0 0 0 7px; 
display:inline; 
position:relative; 
background:url(/scidirimg/divider_login.gif) no-repeat center right; 
height:30px;
font-family: arial;
font-size: 11px;
line-height:30px;
margin:0;
}

.featuresRow ul li a {
line-height:30px; 
white-space: nowrap;
margin:0;
}

.featuresRow ul li a.big {
font-size:14px; 
font-weight:bold; 
}

.featuresRow ul li a.last {
border-right:none; 
background:none;
}


.clearfloat {
clear:both;
height:1px;
overflow:hidden;
}


.articleLeftCol{
margin-right:361px;
padding: 0 0px 8px 0px;
 }
* html .articleLeftCol {
height : 1%;
}

.articleRightCol {
width: 346px;
padding: 1px 0px;
float: right; 
margin: 0;
}

.rightFmDivider {
 height: 20px !important;
 width: 100%;
 margin: 0px;
 padding: 0px;
}

/* this doesn't work, why not? TO DO  */
a.articleHeaderInner:hover {
text-decoration:underline;
}

p {
line-height: 150%;
}

.articleTitle {
font-family: Arial, Helvetica, sans-serif ;
Font-weight: Bold ;
Font-Size: 1.75em;
display:inline;
}

#articleContent a img {
margin-bottom: 0px;
}

#articleContent img {
margin-bottom: 5px;
}

.articleText {
display: inline;
line-height: 150%;
}

#articleFade {
position: absolute;
display:none;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0;
left:0%;
top: 0%;
width: 100%;
height:100%;
z-index: 100;
color: #CCCCCC;
background:#CCCCCC none repeat scroll 0 0;
border: 0 none;
margin:0;
padding: 0;
}

.articleNoFade {
position: relative;
z-index: 999;
}

.graphText{
display: inline;
line-height: 150%;
}

.graphTextOnly{
display: inline;
line-height: 150%;
}

.refText{
display: inline;
line-height: 150%;
}

.articleToc{
line-height: 150%;
}

*{
box-sizing: border-box;
-moz-box-sizing: border-box;
}

 /*Also referred for Cited By scopus box */
.infobubble-container{
position: relative;
z-index:60;
}

.infobubble_top {
position: relative;
width: 308px;
height: 15px;
}

 /*Also referred for Cited By scopus box */
.infobubble_mid { 
background-image: url(/scidirimg/ra_top.gif);
background-repeat: no-repeat;
padding: 3px 0 0 0;
position: relative;
z-index:60;
width: 308px;
}

 /*Also referred for Cited By scopus box */
.infobubble_border{
border-left:1px solid #9b9b9b;
border-right:1px solid #9b9b9b;
padding-bottom:2px;
padding-top:7px;
width:308px;
}

 /*Also referred for Cited By scopus box */
.infobubble_doclinks{
padding:0 11px;
}

 /*Also referred for Cited By scopus box */
.infobubble_bottom {
background-image: url(/scidirimg/ra_bottom.gif);
background-repeat:no-repeat;
background-position: center top;
position: relative;
z-index:60;
overflow: hidden;
height:3px;
width: 308px;
}

 /*Also referred for Cited By scopus box */
.infobubble {
display: none;
text-indent: 0px;
position: absolute;
z-index:60;
top: 0px;
left: -315px;
_left: -322px;
width: 315px;
background-color:#ffffff;
}

 /*Also referred for Cited By scopus box */
.mlktScroll{
border: 1px solid #CCCCCC;
height: 100px;
overflow: auto;
background-color: #FFFFFF;
}

 /*Also referred for Cited By scopus box */
.mlktLink{
padding: 2px 0px 0px 0px;
background-color: #FFFFFF;
border: 1px solid #FFFFFF;
margin: 3px 5px 3px 5px;
}

 /*Also referred for Cited By scopus box */
.mlktEmpty{
padding: 5px 5px 5px 5px;
background:url("/scidirimg/rc_box_mid.gif") repeat-y scroll 0 0 ;
}

 /*Also referred for Cited By scopus box */
.mlktContentBody{
background:url("/scidirimg/rc_box_mid.gif") repeat-y scroll 0 0 ;
}

#raViewMore_Art tr td,#raViewMore_Ref tr td {
padding:10px 0px 3px 10px;
}

#raViewMore_Cite tr td{
padding:1px 10px 3px 10px;
}

.outerPage {
padding:5px 0px 0px 0px;
}

/* Background Colors for science and society products*/
.sci_dirBackgroundColor {
background: none;
width:100%;
padding: 0;
margin: 0; 
border-top: 4px solid #e8e8e8;
}

.blueBackgroundColor,
.greenBackgroundColor,
.greyBackgroundColor,
.redBackgroundColor,
.orangeBackgroundColor{
width:100%;
border-top:4px solid #E8E8E8;
}

#articleBox {
padding:0;
border-top:1px solid #9b9b9b;
margin:-2px 0 0 0;
}

.articleBox {
border-top:1px solid #ffffff; 
margin-bottom: -5px;
}

#articleBody {
position:relative;
margin:0;
left:-1px;
top:-6px !important;
_top:-6px !important;
padding:0;
clear:left;
}

.articleBoxBorderHide {
position:relative; 
margin:0; 
padding:0; 
top:36px; 
display:block; 
}

/* For the style housing the body of the article: stuff on left */
.articleHeaderInner {
position:relative;
left:1px;
margin: 0 5px 0 3px;
}

/* stuff on right */
.FATTABInner{
display:block;
background-color: #f6f6f6;
padding-left:0px;
padding-right:0px;
font-size:.9em;
float:right;
height:100%;
width:350px; /* Reflected in resizableImages Javascript */
}

.refersTable{
background-color: #FFFFFF;
font-family: arial, helvetica, sans-serif;
font-size: 1.0em;
line-height: 16px;
}

.refersLeftColumn{
vertical-align : top;
text-align: right;
font-weight: bold;
width: 55px;
padding-left: 5px;
}

.refersDivider{
background-color: #FFFFFF;
height: 10px;
width: 100%;
margin: 0px;
padding: 0px;
}

/* For the reference popup view within an article */
.refPreview{
background-color: #EEEEEE;
z-index: 1000;
display: none;
padding: 8px;
width: 300px;
}

.greyTable{
background-color : #FFFFFF;
padding: 0px;
}

.greyTab{
background-color: #FFFFFF;
border-color: #C2C2C2;
border-style: solid solid none;
border-width: 0px 1px 0px 1px;
font-size:0.9em;
padding: 0px;
}

.greyHeader{
background-image:url(/scidirimg/rc_header_mid.gif);
background-repeat:repeat-x;
float: left;
height: 32px;
position: relative;
width : 332px;
padding: 8px 8px 0px 8px;
font-family: Arial;
font-size: 1.35em;
font-weight: bold;
color: #000000;
}

.articleTabs {
display:inline;
padding-top: 6px;
margin:0;
text-align: left;
position: relative;
z-index: 50;
float: left;
white-space: nowrap;
height: 40px;
}

.articleTabsNoFade,
.imgToogleNoFade {
position: relative;
z-index: 1000;
}

.tabSelectedOuter{
height: 31px;
white-space:nowrap;
display: inline;
position: relative;
}

.tabUnselectedOuter{
height:31px;
white-space:nowrap;
display: inline;
position: relative;
}

.tabSelectedInner{
color:#000000;
float:left;
font-family: arial;
font-weight: bold;
font-size:16px;
height:31px;
padding:8px 6px 0px 6px;
position:relative;
white-space:no-wrap;
}

.tabUnselectedInner{
padding:9px 6px 0px 6px;
height:31px;
position:relative;
font-size:1em;
font-family:arial,verdana,helvetica,sans-serif;
color:#000000;
float:left;
white-space:no-wrap;
}

.tabUnselectedOuter:hover{
cursor:pointer;
}
.tabUnselectedInner:hover{
cursor:pointer;
}

.disabledTabLink {
color:#bcbcbc;
}

.bottomArticle{
background-color:#FFFFFF;
}

.footerArticle{
background-color:#FFFFFF;
}

.ppvMSG{
float:right;
display:block;
padding: 5px 5px 5px 5px;
z-index:1000;
}

.ppvMSG img{
border:0;
padding: 5px 5px 5px 5px;
}

.authorsNoEnt p {
margin: 2px;
}

.authorVitaeLink {
 font-style: italic ;
 font-size: .84em;
}


.figTblUpiOuter{
margin-left: 15px;
border: 0px;
padding: 0px;
}

.tblScroll{
width: 100%;
padding: 0px 0px 17px 0px;
overflow:auto;
overflow-y:visible;
}
.tblScrollBox{
}
.tblScrollLink{
display: inline;
}

.eqImgScroll {
width: auto;
padding: 0px 0px 17px 0px;
overflow: auto;
vertical-align: middle;
text-align: left;
overflow-y: visible;
}
.eqImgScroll img,
.eqImgScroll a,
.eqImgScroll a:hover {
border: 0;
}
.inlMMLBox {
display:inline;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
border: 0;
}
.fdBox {
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
border: 0;
display: block;
width: auto;
position: static;
}
.fdNoLabel {
text-align: center;
vertical-align: middle;
}
.fdWithLabel {
margin-right: 10%;
text-align: center;
vertical-align: middle;
}
.fdLabel {
width: 10%;
text-align: right;
position: static;
float: right;
top: 45%;
right: 0px;
margin-top:10px;
margin-right:50%
}
.fdLabelTxt {
vertical-align: super;
}
.sizeImg {
   max-width: 100%;
   height: auto;
}
.sizeImgBox {
}
.sizeImgLink {
   display: inline;
}
.viewWithinBtn:hover,
.viewWithinBtn {
   text-decoration: none;
   display: inline;
   padding: 1px 10px 1px 10px;
   margin: 0px;
   background-color: #EEEEEE;
   border: 1px solid #666666;
   color: #666666;
   font-size: 11px;
   font-weight: bold;
   height: 19px;
   width: auto;
}

.graphTextOnly a:hover {
   text-decoration: none;
}

.outwardBox {
    background-color: #FFFFFF;
    background:url("/scidirimg/rc_box_mid.gif") repeat-y scroll 0 0 ;
    font-size: 0.9em;
    margin: 0px;
    padding: 7px 10px 7px 10px;
    text-align: left;

}
.outwardBox td {
padding:3px;
}
.outward a{
color: #0156aa;
}

#BookMarkBoxContent a {
color: #0156aa;
cursor: pointer;
}

.collabBox {
background-color: #FFFFFF;
border-left: 1px solid #C2C2C2;
border-right: 1px solid #C2C2C2;
text-align: center;
width: 340px;
}

.NextBiovRow {
margin: 0px;
border: 0px;
padding: 0px;
}

.MMCvRow {
   margin: 0px; 
   padding-left: 5px; 
   
   background-color: #FFFFFF;
   background:url("/scidirimg/rc_box_mid.gif") repeat-y scroll 0 0 ;
   float: right;
   width: 343px;
   z-index: 3;
   position: relative;
}
.MMCvOuter {
   z-index: 3;
   display: block; 
   width: 332px;
   margin: 0px; 
   border: 0px;
   padding: 5px 0px 0px 0px; 
   background-color: #FFFFFF;
   font-size:.9em;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
}
.MMCvTitleBox {
   font-weight: bold;
   margin: 2px;
   margin-bottom:12px;
   border: 0px;
   border-bottom: 1px solid #CCCCCC;
   padding: 0px;
}
.MMCvRefHovs {
   margin: 0px; 
   border: 0px;
   padding: 0px; 
}
.MMCvTabs {
   margin: 0px;
   border-bottom: 1px solid #CCCCCC;
   padding: 2px 0px 2px 0px; 
}
.MMCvNoTabs {
   border-top: 1px solid #CCCCCC;
   margin-top: -1px;
}
.MMCvTab {
   text-align: center; 
   margin: 0px 5px 0px 0px; 
   border: 1px solid #CCCCCC;
   border-bottom: 0px;
   padding: 2px 9px 2px 9px; 
   color:#0156AA;
   background-color: #ffffff;
   font-weight: bold;
   cursor: pointer;
}
.MMCvTab:hover {
   text-decoration: underline;
}
.MMCvTabActive {
   text-align: center; 
   margin: 0px 5px 0px 0px; 
   border: 1px solid #CCCCCC;
   border-bottom: 0px;
   padding: 2px 9px 3px 9px; 
   font-weight: bold;
   background-color: #F2F2F2;
}
.MMCvTabActive a:hover {
text-decoration: none;
}
.MMCvSelector {
   width: 332px;
   text-align: right; 
   background-color: #F2F2F2;
   margin: 0px; 
   border: 0px;
   border-left: 1px solid #CCCCCC;
   border-right: 1px solid #CCCCCC;
   padding: 0px 5px 0px 0px; 
}
.MMCvSelectDiv {
   margin: 0px; 
   border: 0px;
   padding: 3px; 
}
.MMCvSelectorItem {
   cursor: pointer;
   margin: 0px; 
   border: 0px ;
   padding: 0px; 
   color: #0156AA;
}
.MMCvSelectorCollapseItem {
   cursor: pointer;
}

.MMCvSelRover {
  display: inline;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 145%;
}

.MMCvSelRover img {
  border: 0px;
  margin: 0px;
  padding: 0px;
  vertical-align: -4px;
}

.MMCvViewBacking {
   width: 332px;
   margin: 0px;
   background-color: #F2F2F2; 
   padding-left: 8px;
   padding-right: 8px;
   padding-bottom: 0px;
   border: 1px solid #CCCCCC;
   border-top: none;
}
.MMCvViewer {
   position:absolute;
   width: 320px;
   margin: 0px;
   padding: 0px; 
   border-top: 1px solid #CCCCCC;
   background-color: #FFFFFF; 
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
   border-bottom: none;
}
.MMCvVideoComponent,
.MMCvAudioComponent,
.MMCvOtherComponent {
   position:absolute; 
   top: 0; 
   left: 345;
   width: 320px; 
   margin: 0px 195px 0px 0px;
   padding: 0px;
   display: block;
}
.MMCvCaptionArea {
   display: block; 
   float:right; 
   width: 245px; 
   margin: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
}
.MMCvAudioOtherWrapper {
   display: block;
   width: 320px;
   margin: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
   border: 1px solid #CCCCCC;
   border-top: none;
}
.MMCvCaptionWrapper {
   display: block; 
   width: 245px;
   margin: 0px;
   border: 0px;
   padding: 4px;
   padding-top: 0px;
   overflow: hidden; 
   overflow-x: hidden; 
   overflow-y: hidden;
}
.MMCvCaption {
   display: block; 
   width: 245px;
   margin: 0px;
   border: 0px;
   padding: 6px;
}
.MMCvVideoCaptionArea {
   display: block;
   width: 320px;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
}
.MMCvVideoCaptionWrapper {
   display: block;
   width: 320px;
   margin: 0px;
   border: 0px;
   padding: 4px;
   padding-top: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
}
.MMCvVideoCaption {
   display: block;
   width: 320px;
   margin: 0px;
   border: 0px;
   padding: 6px;
}
.MMCvVideoPlayerArea {
   display: block;
   width: 320px;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
   height: 265px;
}
.MMCvVideoPlayerWrapper {
   display: block;
   width: 320px;
   margin: 0px;
   border: 0px;
   padding: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
   position: relative;
   height: 265px;
}
.MMCvVideoPlayer{
   display: block;
   width: 320px;
   margin: 0px;
   border-bottom: 1px solid #CCCCCC;
   border-left: 1px solid #CCCCCC;
   border-right: 1px solid #CCCCCC;
   vertical-align:middle;
   height: 265px;
}
.MMCvAudioPlayerWrapper {
   display: block;
   width: 320px;
   margin: 0px;
   padding: 0px;
   height: 28px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
}
.MMCvAudioPlayer{
   display: block;
   width: 320px;
   margin: 0px;
   border: 0px;
   text-align: center;
   height: 28px;


}
.MMCvErrorArea {
   display: block;
   width: 300px;
   height: 260px;
   margin: 0px;
   border: 0px;
   padding: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
   vertical-align: middle;
}
.MMCvError {
   position: absolute;
   text-align: center;
   top: 50px;
   width: 320px;
   font-size: 1.1em;

}
.MMCvAudioError {
   text-align: center;
   width: 320px;
   padding: 10px;
   font-size: 1.1em;
   border-bottom: 1px dotted #CCCCCC;
}
.MMCvAudioErrorNoCaption {
   text-align: center;
   width: 320px;
   padding: 8px;
   font-size: 1.1em;
   border: 1px solid #CCCCCC;
   border-top: none;
}
.MMCvMoreSpacer {
  margin: 0px;
  padding: 0px 0px 2px 0px;
  border: 0px;
  border-bottom: 1px dashed #000000;
}
.MMCvMoreWrapper {
  display: none; 
  width: 195px; 
  margin: 0px;
  border: 0px;
  padding: 0px 9px 0px 9px;
  color:#0156AA;
  cursor: pointer;
}
.MMCvLessWrapper {
  display: none; 
  width: 195px; 
  margin: 0px;
  border: 0px;
  padding: 0px 9px 0px 9px;
  color:#0156AA;
  cursor: pointer;
}
.MMCvImageArea {
  width: 58px;
  margin: 0px;
  padding: 8px; 
}
.MMCvDownload {
  display: block;
  margin: 0px;
  float: right;
}
.MMCvViewWithin {
 display: block;
 margin: 0px;
}
.MMCvViewDownloadWrapper {
  display: block;
  width: 320px;
  background-color: #F2F2F2;
  padding: 5px 0px 5px 0px;
}
.MMCvImage {
  width:50;
  margin: 0px;
  border: 0px;
  padding: 0px; 
  height: 50;
}
#shadow-container {
  position:relative;
  top:3px;
  left:3px;
  margin-right:3px;
  margin-bottom:3px;
  float:left;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
}
.shadow1,
.shadow2,
.shadow3,
.container {
  position:relative;
  left:-1px;
  top:-1px;
  width:220px;
}
.shadow1{
    background:#F1F1F1;
    width:220px;
}
.shadow2{
    background:#DBDADB;
}
.shadow3{
    background:#B8B6B8;
}
.container{
    background-color:#F2F2F2;
    padding:8px;
    font-size:1.1em;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    color:#555555;
    width:220px;
}
.MMCvVideoImageArea {
  display: table;
  height: 180px;
  width: 320px;
  border: 1px solid #CCCCCC;
  border-top: none;
  text-align: center;
}
.MMCvInstallFP {
   display: block;
   padding: 4px;
}
.MMCvVideoImageWrapper {
  display: table-cell;
  vertical-align: middle;
}
.MMCvInstallFP {
  display: block;
  padding: 4px;
}

<!--[if lt IE 8]>
.MMCvVideoImageArea {
  display: block;
}

.MMCvVideoImageWrapper {
  height: 0;
  height: auto;
  position: relative;
  top: 50%;
  zoom: 1;
}
.MMCvVideoImage {
  position: relative;
  top: -50%;
  height: 0;
  height: auto;
  zoom: 1;
}

<![endif]-->

.alphaNavSIBorder{
    border-bottom:dashed 1px #cccccc;
    font-size:1.2em;
    padding-bottom:0px;
    margin:1px;
    font-weight:bold;
}
ul.artAlphaNavBar{
    display:block;
}
ul.artAlphaNavBar li{
    list-style:none;
    padding-left:3px;
    padding-right:3px;
    border-left:1px solid #999999;
    display:inline;
}
dl dl dl {
margin: 0;
padding: 0;
line-height:100%;
} 
dl {
margin-top:10px;
line-height:100%;
}
dt{
/* margin: 0px; */
padding:0;
line-height:14pt;
display:inline;
}
dd dl dt{
padding:0;
line-height:14pt;
display:block;
}
dd{
padding:0;
line-height:150%;
}
dl p {
margin-left: 0px;
line-height:100%;
}
dt p {
margin-left: 0px;
line-height:100%;
}
dd p {
margin-left: 0px;
line-height:100%;
}

#pdfArea object{
display:block;
border: 1px solid #666;
}

#pdfPage {
display: block; 
width: 100%;
overflow: auto;
height:820px;
}

.loadWindow {
border:1px solid grey;
padding:5px;
width: 600px;
height: 820px;
}

.reRunStyle {
border:1px solid #6C9D31;
padding:4px;
background-color:#E5F3CC;
float:left;
position:relative;
margin-bottom: 2px;
}

.artiHead {
font-size:0.9em;
}

.referenceText{
margin-left: 15px;
display:block;
}

.articleText_indent{
padding-left:15px;
}

.articleText_indent h3 {
margin: 15px 0px 0px -15px;
}

.articleText_indent h4,
.articleText_indent h5 {
margin: 15px 0px 0px -15px;
}

.articleText_indent p,
.articleText_indent dl,
.articleText_indent dt{
margin: 0px;
}

.imgToggle {
float:right;
padding: 0.85em 0.1em;
}

.articleInnerPage {
margin-right: -100em;
width: 100%;
padding : 15px 15px 15px 10px;
}

html>body .articleInnerPage {
padding-right: 10px;
}

#figevent,
#figSelect,
#refevent {
display: none;
}

#absTabOn, 
#fullTabOn, 
#graphTabOn, 
#refTabOn, 
#absTabOff, 
#fullTabOff, 
#graphTabOff, 
#refTabOff, 
#TabOff {
display: inline;
}

html>body #absTabOn ,
html>body #fullTabOn ,
html>body #graphTabOn ,
html>body #refTabOn ,
html>body  #absTabOff ,
html>body #fullTabOff ,
html>body #graphTabOff ,
html>body #refTabOff,
html>body #TabOff {
display: inline-block;
}

.On {
_position:!important;
left:0px;
top:0px;
visibility: visible;
overflow: auto;
}

.Off {
position:absolute;
left:-2000px;
top:-2000px;
visibility: hidden !important;
overflow: hidden;
}

.multiMediaBottom{
position:relative;
top:-1px;
z-index:2;
}

#embedAPCModule {
padding-top: 15px;
padding-bottom: 15px;
}

#embedAPBModule {
width: 340px;
padding-bottom: 20px;
}

#embedAPAModule {
width: 340px;
padding-bottom: 20px;
}

.articleTabs:after,
.articleTabsNoFade:after,
.articlePage:after,
.articleLeftCol:after {
content:"."; 
display:block; 
height:0px; 
clear:both; 
visibility:hidden; 
margin:0;
}

html>body #articleBody, x:-moz-any-link {
top:-3px !important;
}
html>body #articleBody, x:-moz-any-link, x:default {
top:-6px !important;
}
html>body .articleTabs, x:-moz-any-link {
height:37x;
}
html>body .articleTabs, x:-moz-any-link, x:default {
height:40px;
}
html>body #articleBox {
background:none; 
margin-top:0; 
border:none;
}
html>body .articleBox {
background:none; 
margin-top:0; 
border:none;
}
html>body .articleBoxBorderHide {
border-bottom:1px solid #9b9b9b;
width:99%;
margin-left:2px;
}

.rdivImg {
position:relative;
padding:0; 
background:url(/scidirimg/container_right.png) repeat-y 100% 100%;
right:-2px;
_right:-1px;
}

.ldivImg {
background:url(/scidirimg/container_left.png) repeat-y 0 0; 
padding:0;
position:relative;
left:-2px;
_left:-1px;
}

.tdivImg {
background:url(/scidirimg/container_top.png) repeat-x;
width:100%;
}

.bdivImg {
background:url(/scidirimg/container_bottom.png) repeat-x;
width:100%;
}
/**
Desc : New styles added for Article page UI changes
Done on: 22-01-2010
**/
#toppagination  {
	padding:18px 26px 8px 14px;
	text-align:left;
	vertical-align:bottom; 
}
#fontsize {
	padding:0px 0px 8px 14px;
	text-align:right;
	vertical-align:top; 
}
#bottompagination{
	text-align:left;
	vertical-align:top; 
	padding:8px 26px 18px 14px;
}
.seperatorline {	
	margin:0px 26px 0px 14px;
	background-color:#e8e8e8;
	color:#e8e8e8;
	height:4px;
}
#articlePage {
	padding:10px 0 0 0; /**This is to set 12px gap below the seperator line.**/
}

/**********reflect*************************/
embed.hidden,
   object.hidden {
   height: 1px;
   width: 1px;
   position: absolute;
   top: -1000px;
   left: -1000px;
}

.seperatorlineReflect{
    margin: 8px 0px 4px 0px;
    color:#dddddd;
    width:213px;
}
li.highLight_attach
{
  display: block;
  text-decoration: none;
  font-family: arial;
  font-size: 1.17em;
  color: #0156AA;
  background-color:#ffffff;
}


a.highLight_attach, a.highLight_attach:visited
{
  display: block;
  line-height:15px;
  height:20px;
  text-decoration: none;
  font-family: arial;
  font-size: 1.17em;
  color: #0156AA;
}

a.highLight_attach, a.highLight_attach:visited { border:none; }

#nohiglink{
}

#reflink{
line-height:40px;
}
#nextbiolink{
 font-weight: bold;
}

a.subText, a.subText:visited {
  text-decoration: none;
  font-family: arial;
  font-size: 1.00em;
  color: #0156AA;
}
#subpadding1{
 padding-left: 26px;
 line-height:25px;
}
#subpadding2{
  padding-left: 26px;
  line-height:17px;
  }

li#highLight_attach_menu_parent {
  padding-top:8px;
  background:none;
  height:29px;
  position:relative;
  white-space:nowrap;
}

ul#highLight_attach_menu_child {
 position:absolute;
 visibility:hidden;
 left:-1px;
 top:23px;
 background:none;
 width:223px;
 height:126px;
 background-color:white;
 opacity:1.0;
 border-left:1px solid #9b9b9b;
 border-right:1px solid #9b9b9b;
 border-bottom:1px solid #9b9b9b;
 line-height:15px;
 padding:0 0 0 5px;
 margin-top:-2px;
}

ul#highLight_attach_menu_child_no_nextBio {
 position:absolute;
 visibility:hidden;
 left:-1px;
 top:23px;
 background:none;
 width:223px;
 height:85px;
 background-color:white;
 opacity:1.0;
 border-left:1px solid #9b9b9b;
 border-right:1px solid #9b9b9b;
 border-bottom:1px solid #9b9b9b;
 line-height:15px;
 padding:0 0 0 5px;
 margin-top:-2px;
}
#menulist{
line-height:0px;
padding:0px;
margin:0px;
background:none;
position:absolute;
}
#highlightKwds{
display:inline;
 padding:0px 0px 0px 2px;
 font-family:arial; font-size:11px;
position:relative;
z-index:10;
}
/************************end reflect****************************/
.noul{text-decoration:none !important;}
