.textboxe-extra{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxpull-quote{
background:none repeat scroll 0 0 #fbf7b8;
border:3px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxcollaboration{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt0{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt1{
background:none repeat scroll 0 0 #fafdd7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt2{
background:none repeat scroll 0 0 #e5f5d7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt3{
background:none repeat scroll 0 0 #c6d9f0;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt4{
background:none repeat scroll 0 0 #F9CCCA;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt5{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt6{
background:none repeat scroll 0 0 #fafdd7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt7{
background:none repeat scroll 0 0 #e5f5d7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt8{
background:none repeat scroll 0 0 #c6d9f0;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt9{
background:none repeat scroll 0 0 #F9CCCA;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt10{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt11{
background:none repeat scroll 0 0 #fafdd7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt12{
background:none repeat scroll 0 0 #e5f5d7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt13{
background:none repeat scroll 0 0 #c6d9f0;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt14{
background:none repeat scroll 0 0 #F9CCCA;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt15{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt16{
background:none repeat scroll 0 0 #fafdd7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt17{
background:none repeat scroll 0 0 #e5f5d7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt18{
background:none repeat scroll 0 0 #c6d9f0;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt19{
background:none repeat scroll 0 0 #F9CCCA;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt20{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt21{
background:none repeat scroll 0 0 #fafdd7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt22{
background:none repeat scroll 0 0 #e5f5d7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt23{
background:none repeat scroll 0 0 #c6d9f0;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt24{
background:none repeat scroll 0 0 #F9CCCA;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxalt25{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm0{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm1{
background:none repeat scroll 0 0 #fafdd7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm2{
background:none repeat scroll 0 0 #e5f5d7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}


.textboxaltm3{
background:none repeat scroll 0 0 #c6d9f0;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}


.textboxaltm4{
background:none repeat scroll 0 0 #F9CCCA;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}


.textboxaltm5{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm6{
background:none repeat scroll 0 0 #fafdd7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm7{
background:none repeat scroll 0 0 #e5f5d7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm8{
background:none repeat scroll 0 0 #c6d9f0;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm9{
background:none repeat scroll 0 0 #F9CCCA;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm10{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm11{
background:none repeat scroll 0 0 #fafdd7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm12{
background:none repeat scroll 0 0 #e5f5d7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm13{
background:none repeat scroll 0 0 #c6d9f0;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm14{
background:none repeat scroll 0 0 #F9CCCA;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm15{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm16{
background:none repeat scroll 0 0 #fafdd7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm17{
background:none repeat scroll 0 0 #e5f5d7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm18{
background:none repeat scroll 0 0 #c6d9f0;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm19{
background:none repeat scroll 0 0 #F9CCCA;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm20{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm21{
background:none repeat scroll 0 0 #fafdd7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm22{
background:none repeat scroll 0 0 #e5f5d7;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm23{
background:none repeat scroll 0 0 #c6d9f0;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm24{
background:none repeat scroll 0 0 #F9CCCA;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxaltm25{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxdefault{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxDefaultRole{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.textboxdefaultfig{
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #dfdfdf;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

.figbox{
position:relative;
background:none repeat scroll 0 0 #DDE7A7;
border:1px solid #6D2A0B;
margin-bottom:10px;
margin-top:10px;
padding:10px;
}

